<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body" style="text-align: justify;">
        <p>This conference will address the major environmental challenges facing the world today, with a particular focus on air pollution and extreme weather mechanisms, and strategies to combat them. Global warming is increasing the frequency and intensity of extreme events, threatening ecosystems and public health. The conference will delve into the intersection of meteorology, environment, health, and urban science, integrating fields such as physics, chemistry, computer science, social sciences, and public health. By highlighting these interdisciplinary interactions, the conference aims to promote collaborative research and generate novel insights and methods.</p>
        <p>Experts and scholars from around the globe will share their latest research findings and discuss response strategies and policy recommendations. This will advance the scientific community's understanding of environmental challenges and aid in formulating solutions. Additionally, the conference will serve as a platform for exchanging ideas, fostering international cooperation, and enhancing societal awareness and capacity to respond to extreme events.</p>
          <p><a href="{{site.registration-page}}">Abstract submission</a></p> 
            </div>

          </div>


        </div>
      </div>
