			<!-- Banner section -->
      <div id="banner" class="banner">
        <div class="container" style="text-align:right">
          <h3 class="right-align banner-heading">International Conference on Atmospheric Environment, Extreme Weather, and Health</h3>
          <h5 class="right-align banner-subheading">HKBU, November 13-15, 2025 </h5>
          <br />
          <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
          <br />
        </div>
      </div>
