<!-- Organizers section -->
      <div class="section scrollspy section-gray-section" id="organizers">
        <div class="container">
          <h4 class="center-align section-gray-header">Conference Organizers</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-gray-body">
              <p class="center">For any questions about the conference or opportunities, please contact <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a>.
              </p>
            </div>
          </div>
         <div class="row center-images">
            <div class="col l6 m6 s12">
                  <a href="https://fass.hkbu.edu.hk/en.html"><img class="responsive-img" src="img/FASS.png"></a>
            </div>
            <div class="col l3 m3 s6">
                  <a href="https://geog.hkbu.edu.hk/"><img class="responsive-img" src="img/geog.png"></a>
            </div>

        </div>
        </div>
      </div>
