<!-- Schedule section -->
<div class="section scrollspy section-gray-section" id="schedule">
  <div class="container">
    <h4 class="center-align section-gray-header">Schedule</h4>
    <p class="center-align">This event is in its early stages. Join us from November 13-15, 2025. Registration on the 13th. Will be posted later.</p>

    <div class="row">
      <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
        <table class="schedule">
          <tbody>
            <tr>
              <th scope="row">Session 1</th>
              <td>
                <h5>Causes and Prevention of Atmospheric Pollution Events</h5>
              </td>
            </tr>
            <tr>
              <th scope="row">Session 2</th>
              <td>
                <h5>Mechanisms and Attribution of Extreme Weather and Climate Events</h5>
              </td>
            </tr>
            <tr>
              <th scope="row">Session 3</th>
              <td>
                <h5>Compound Events of Extreme Weather and Atmospheric Pollution</h5>
              </td>
            </tr>
            <tr>
              <th scope="row">Session 4</th>
              <td>
                <h5>Climate-Chemistry Interactions and Future Projections</h5>
              </td>
            </tr>
            <tr>
              <th scope="row">Session 5</th>
              <td>
                <h5>Climate Change, Air Pollution, and Their Health Impacts</h5>
              </td>
            </tr>
            <tr>
              <th scope="row">Session 6</th>
              <td>
                <h5>Urban Meteorology, Environment, Health, and Urban Resilience</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

