<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="sponsors">
        <div class="container">
          <h4 class="center-align section-white-header">List of Sponsors</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">{{site.conference_title_short}} {{site.year}} is made possible by these organizations and companies.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col l4 m6 s12">
                <a href="https://www.nsfc.gov.cn/"><img class="responsive-img" src="img/sponsors/NSFC.jpg"></a>
            </div>
            <div class="col l4 m6 s12">
                <a href="https://www.bhkaec.org.hk/"><img class="responsive-img" src="img/sponsors/BHKAE.avif"></a>
            </div>                                                    
            <div class="col l4 m6 s12">
                <a href="https://www.hkbu.edu.hk/"><img class="responsive-img" src="img/sponsors/HKBU.gif"></a>
            </div>
          </div>
         </div>
      </div>


        
