<!-- Venue section -->
      <div class="section scrollspy section-white-section" id="venue">
        <div class="container">
          <h4 class="center-align section-white-header">Venue</h4>

          <div class="row">
            <div class="col s12 m5 section-white-body">
              <address>
                HKBU, 224 Waterloo Road <br />
                Kowloon Tong<br />
                Hong Kong
              </address>
              <p>The conference will be held at Hong Kong Baptist University, Kowloon Tong, Hong Kong.
              </p>
              <p>
                <a href="{{site.directions-link}}">Click here to get directions to HKBU.</a>
              </p>
            </div>
            <div class="col s12 m7 section-white-body">
              <div class="google-maps">
                <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            </div>
          </div>
        </div>
      </div>
